.mainWrapper{
  padding: 70px;
}
.classWrapper{
  padding: 15px;
  font-weight: bold;
}
.sectionWrapper{
  padding: 15px;
}
.dataWrapper{
  margin: 15px;
}
.nameWrapper{
  margin: 0 20px;
  font-weight: normal;
  display: inline-block;
}
.cardWrapper{
  padding: 20px;
  font-size: 15px;
  width: 200px;
}
.CardData{
  margin: 5px;
}
.bgWhite{
  background-color: #fff;
  display: flex;
  color: black;
}
.TDrawerData{
  margin-top: 30px;
  width: 300px;
}